title = "Cases"
url = "/cases/:page?"
layout = "default"
is_hidden = 0

[portfolio]
category = 0
useAsPreviewBlock = 0
itemsPerPage = 6
order = "desc"
pageNumber = "{{ :page }}"
selectedTag = "{{ :selected_tag }}"
selectedCat = "{{ :selected_cat }}"
catListPage = 404
itemPage = "case"
tagListPage = "tag"

[localePicker]
forceUrl = 1
==
<div class="cases">
    <div class="inner-page">
        <!-- Header -->
        {% partial 'header-cases' %}

        <!-- Content -->
        <div class="flex-content">
            <div class="tags tags-all">
                <a href="/cases">
                    <span class="label label-primary" style="background-color: #f53502; color: white">All</span>
                </a>
                {% for tag in portfolio.tags %}
                <a href="/tag/{{ tag.name }}">
                    <span class="label label-primary">{{ tag.name }}</span>
                </a>
                {% endfor %}
            </div>

            {% for key, item in portfolio.portfolio %}
            <div class="flex-item">
                <div class="case-img">
                    <a href="{{ item.pageUrl }}">
                        {% if item.images|length > 0 %}
                        {% set image = item.images.first %}
                        <img src="{{ image.path }}" class="img-responsive" alt="{{ image.title }}">
                        {% else %}
                        <img src="/themes/demo/assets/images/no-image.png" class="img-responsive" alt="No image">
                        {% endif %}
                    </a>
                </div>
                <div class="">
                    <a href="{{ item.pageUrl }}"><h2>{{ item.title }}</h2></a>
                </div>
                <small>{{ portfolio.activeTextFinished }} {{ item.published_at|date('j m Y') }}</small>
                <div class="tags">
                    {% if item.tags|length > 0 %}
                    {% for tag in item.tags %}
                    <a href="/tag/{{ tag.name }}">
                        <span class="label label-primary">{{ tag.name }}</span>
                    </a>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="case-short-description">
                    {% if item.short_description %}
                    <p>
                        {{ item.short_description|raw }}
                    </p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}

            {% if portfolio.portfolio.lastPage > 1 %}
            <div class="cases-pagination">
                <ul class="pagination">
                    {% if portfolio.portfolio.currentPage > 1 %}
                    <li><a href="{{ this.page.baseFileName|page({ page: (portfolio.portfolio.currentPage - 1) }) }}">&larr;
                        {{'Prev'|_}}</a></li>
                    {% endif %}

                    {% for page in 1..portfolio.portfolio.lastPage %}
                    <li class="{{ portfolio.portfolio.currentPage == page ? 'active' : null }}">
                        <a href="{{ this.page.baseFileName|page({ page: page }) }}">{{ page }}</a>
                    </li>
                    {% endfor %}

                    {% if portfolio.portfolio.lastPage > portfolio.portfolio.currentPage %}
                    <li><a href="{{ this.page.baseFileName|page({ page: (portfolio.portfolio.currentPage + 1) }) }}">{{'Next'|_}}
                        &rarr;</a></li>
                    {% endif %}
                </ul>
            </div>
            {% endif %}

        </div>

        <!-- Footer -->
        {% partial 'site/footer' %}
    </div>
</div>