body, html {
    width: 100%;
    height: 100%;
}
body {
    background: #333;
}

.wrap-site {
    height: 100%;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.25em;
    color: #999;
}

.inner-page {
    width: 95%;
    max-width: 864px;
    margin: 0 auto;
    font-size: .8125em;
    position: relative;
}

.services,
.contacts {
    background: #333;
}

a, a:focus {
    color: #fff;
}

a:hover {
    text-decoration: none;
}

h2 {
    display: inline-block;
}

/*===== header =====*/
.header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 30px;
}

.header-home {
    justify-content: flex-end;
}

.header .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .nav li {
    padding-left: 5px;
}

.header .nav li a,
.case .btn-default,
.button-last-cases a {
    width: 125px;
    color: #f4f4f4;
    font-size: 20px;
    line-height: 46px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0;
    background: #f53502;
    border-radius: 0 8px
}

.services .logo,
.contacts .logo {
    background: url("/themes/demo/assets/src/logo-small.png") no-repeat;
    height: 71px;
    width: 266px;
}
.home .logo {
    height: 71px;
    width: 266px;

}
.last-cases .logo,
.cases .logo {
    background: url("/themes/demo/assets/src/logo-small-black.png") no-repeat;
    height: 71px;
    width: 266px;

}

.services .header [data-menuanchor='services'] a,
.home .header [data-menuanchor='home'] a,
.contacts .header [data-menuanchor='contacts'] a,
.last-cases .header [data-menuanchor='cases'] a,
.cases .header [data-menu='cases'] a,
.header .nav li a:hover,
.case .btn-default:hover,
.button-last-cases a:hover {
    color: #333;
    background: #f4f4f4;
}

/*===== home page =====*/

.flex-content {
    display: flex;
    justify-content: space-between;
    height: 275px;
}

.flex-content-home {
    flex-direction: column;
    height: 100%;
    text-transform: uppercase;
    color: #2c3234;
}

.flex-content-home h3 {
    color: #2c3234;
    font-size: 40px;
    margin: 50px 0 5px 0;
    text-align: right;
}

.description {
    color: #2e3436;
    font-size: 17px;
    text-align: right;
    line-height: 24px;
}

.flex-item {
    width: 28%;
}

.line {
    height: inherit;
    width: 1px;
    border: none;
    border-left: 1px solid #6b6b6b;
}

h2 {
    font-weight: normal;
    color: #f4f4f4;
    font-size: 20px;
    margin-top: 0;
}

ul {
    padding: 0;
    list-style: none;
}

.list-services li {
    font-size: 15px;
    padding: 0 0 4px 0;
}

.list-services a {
    color: #f4f4f4;
    background: #f53502;
    display: inline-block;
    padding: 4px 10px 4px 10px;
}

.flex-item .text-right {
    float: right;
    color: #999;
}

.contacts .contact-info a {
    text-decoration: underline;
}

.contacts .contact-info a:hover  {
    color: #fff;
    text-decoration: none;
}

.contacts input,
.contacts textarea {
    width: 100%;
    color: rgb(51, 51, 51);
    padding: 6px;
    border: 0px;
    margin-bottom: 6px;
    font: menu;
    font-size: 1em;
    height: 30px;
}

.form-group {margin-bottom: 10px;}
.contacts button {
    background-color: transparent;
    color: #fff;
    font-size: 15px;
    border: 0;
    padding: 0;
}

.contacts .btn-right {
    text-align: right;
}

.contacts .btn-clear {
    font-size: 15px;
    padding: 0 0 0 20px;
    border: 0;
}

.contacts button[type="submit"]:hover,
.contacts button[type="submit"]:focus,
.contacts a:hover,
.contacts a:focus {
    text-decoration: underline;
    color: #fff;
}

.contacts textarea { height: 80px; }

.contacts .alignright {
    font-size: 15px;
    text-align: right;
}
.contacts .alignright a {
    text-decoration: none;
}

.contacts .alignright a:hover {
    text-decoration: underline;
}
/*===== footer =====*/

.footer {
    font-size: 10px;
    text-transform: uppercase;
    color: #fff;
    background: url('../src/footer-bg1.gif') left top repeat-x;
    padding: 27px 0 20px 0;
    text-align: right;
    margin-top: 60px;
}

.home .footer,
.last-cases .footer,
.cases .footer {
    background: url('../src/footer-bg.gif') left top repeat-x;
    color: #282f31;
}


.len {
    text-transform: uppercase;
    font-size: 12px;
    position: relative;
    bottom: 44px;
    margin-right: 5px;
}

.len a,
.len a:focus {
    padding: 1px 5px;
    background: #f4f4f4;
    border-radius: 0 8px;
    color: #2c3234;
    text-decoration: none;
}

.len a:hover {
    background: #f53502;
    color: #ffffff;
    text-decoration: none;
}

/*===== last cases =====*/

.last-cases .flex-content {
    height: 300px;
}

.last-cases .case-img {
    position: relative;
    height: 60%;
}

.last-title a {
    color: #f4f4f4;
    padding-right: 50px;
}

.last-title a:hover h2 {
    /*color: black;*/
}

.last-title h2 {
    color: #2c3234;
    font-size: 17px;
    margin-top: 15px;
}

.last-tags a:hover .label-primary,
.cases .tags a:hover .label-primary {
    background-color: #f53502;
    color: white;
}

.last-cases .last-tags .label-primary,
.cases .tags .label-primary {
    background-color: #f4f4f4;
    color: #2e3436;
}

.last-cases .button-last-cases {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

/*===== cases =====*/

.cases { background: white; }
.cases .inner-page { height: 100%; }
.cases .header {
    padding-top: 30px;
}
.cases .flex-content {
    flex-wrap: wrap;
    height: auto;
    margin: 0 -5px;
}

.cases .flex-content .tags-all {
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
}
.cases .flex-item {
    width: 275px;
    padding: 0 5px;
}

.cases .case-img {
    position: relative;
    height: 15em;
}
.img-responsive { margin: auto; }
.cases .img-responsive-0 {
    width: 80%;
    height: 80%;
    padding: 10px 0;
}
.cases .img-responsive-1 {
    width: 100%;
    height: 100%;
}
.cases .flex-item a h2,
.case h2 {
    margin-top: 15px;
    margin-bottom: 0px;
    color: #2c3234;
}

.cases .flex-item a:hover h2 {
    /*color: black;*/
}

.cases small,
.cases .case-short-description {
    color: #2e3436;
}

.last-cases .last-tags a:focus,
.last-cases .button-last-cases a:focus,
.cases .tags a:focus {
    text-decoration: none;
}

.cases .footer {
    margin-top: 10px;
}
.cases-pagination {
    width: 864px;
    padding-left: 5px;
    align-items: flex-end;
    display: flex;
}

.pagination {
    margin-bottom: 12.5px;
    margin-top: 0;
}

.pagination li a,
.pagination li a:focus {
    color: white;
    background-color: #f53502;
    border-color: #f4f4f4;
}

.pagination li a:hover,
.pagination .active a,
.pagination .active a:hover,
.pagination .active a:focus {
    background-color: #f4f4f4;
    color: #2e3436;
    border-color: #f4f4f4;
}

/*===== case =====*/

.case {
    width: 48%;
    padding: 0 5px;
    height: 100%;
    color: #2e3436;
    padding-bottom: 40px;
}
.case:first-child {    text-align: center;}
.data,
.case .btn-default {
    float: right;
}
.case .btn-default {
    border: 0;
}
.case .tags {
    padding-top: 10px;
    text-align: center;
}


.blokimg {
    position: relative;
}
.overlay{
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 999;
}
.overlay .overlay_container{
    display: table-cell;
    vertical-align: middle;
}
.overlay_container img{
    background-color: #f4f4f4;
    padding: 5px;
    max-width: 200%;
}
.overlay:target {
    display: table;
}

.hovergallery img{
    -webkit-transform:scale(0.8); /*Webkit: Scale down image to 0.8x original size*/
    -moz-transform:scale(0.8); /*Mozilla scale version*/
    -o-transform:scale(0.8); /*Opera scale version*/
    -webkit-transition-duration: 0.5s; /*Webkit: Animation duration*/
    -moz-transition-duration: 0.5s; /*Mozilla duration version*/
    -o-transition-duration: 0.5s; /*Opera duration version*/
    margin: 0 10px 5px 0; /*margin between images*/
}

.hovergallery img:hover{
    -webkit-transform:scale(1); /*Webkit: Scale up image to 1.2x original size*/
    -moz-transform:scale(1); /*Mozilla scale version*/
    -o-transform:scale(1); /*Opera scale version*/
    box-shadow:0px 0px 30px gray; /*CSS3 shadow: 30px blurred shadow all around image*/
    -webkit-box-shadow:0px 0px 30px gray; /*Safari shadow version*/
    -moz-box-shadow:0px 0px 30px gray; /*Mozilla shadow version*/
}
/*===== media =====*/

@media screen and (max-width: 875px) {
    .header .nav li a,
    .last-cases .button-last-cases a {
        width: 94px;
        font-size: 15px;
    }
    #fullpage .logo-big img { width: 100%; }
}

@media screen and (max-width: 775px) {
    #fullpage .section .header .nav,
    .cases .header .nav { padding-top: 10px; }
    #fullpage .flex-content { height: 300px; }
    #fullpage .flex-content-home { height:100%; }
    .cases .flex-content { justify-content: space-around; }
}

@media screen and (max-width: 715px) {
    #fullpage .header,
    .cases .header {
        flex-direction: column;
        padding: 10px 0 20px 0;
    }
    .cases .header { align-items: center; }
    .home .header .logo {
        height: 0;
        width: 0;
    }
    #fullpage .services .flex-content,
    #fullpage .contacts .flex-content {
        flex-wrap: wrap;
        height: auto;
    }
    #fullpage .services .flex-item,
    #fullpage .contacts .flex-item {
        width: 100%;
    }
    #fullpage .services .flex-item:nth-child(3),
    #fullpage .services .flex-item:nth-child(5),
    #fullpage .contacts .flex-item:nth-child(3),
    #fullpage .contacts .flex-item:nth-child(5) {
        width: 45%;
    }
    .services .line:nth-child(2),
    .contacts .line:nth-child(2) {
        width: 0; border: 0;
    }
    .services .line:nth-child(4),
    .contacts .line:nth-child(4) {
        height: auto;
    }
    .last-cases .flex-item { width: 46%; }
    .last-cases .line:nth-child(4),
    .last-cases .flex-item:nth-child(5) {
        display: none;
    }
    .case { width: 100%; padding-bottom: 0; }
    .case:last-child { padding-bottom: 15px; }
}

@media screen and (max-width: 420px) {
    .header .nav {
        width: 100%;
        justify-content: space-between;
    }
    .header .nav li {
        padding-left: 0;
        width: 24%;
    }
    .cases .header .nav li a,
    .header .nav li a {
        font-size: 1em;
        width: 100%;
        line-height: 30px;
    }
    .section .logo {
        height: 50px;
        width: 190px;
        background-size: 100%;
    }
    .footer {
        height: 52px;
        padding-bottom: 5px;
        margin-top: 10px;
    }
    .home .footer {
        margin-top: 20px;
        height: 67px;
    }
    .flex-content-home h3 {
        font-size: 35px;
    }
    .description {
        font-size: 15px;
        line-height: 22px;
    }
    .contacts input {height: 20px;}
    .contacts textarea {height: 50px;}
    p {margin-bottom: 5px;}
    .last-cases .case-img { height: 45%; }
    #fullpage .flex-content { height: 260px; }
    #fullpage .flex-content-home {
        height: 100%;
    }
    .last-cases .button-last-cases a {
        font-size: 1em;
        line-height: 30px;
    }
    .list-services li {
        font-size: 14px;
        width: 100%;
    }
    .list-services a {
        padding: 2px 3px;
        width: inherit;
    }
}