body, html {
    width: 100%;
    height: 100%;
}
body {
    background: #333;
}

.wrap-site {
    height: 100%;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.25em;
    color: #999;
}

.inner-page {
    width: 95%;
    max-width: 864px;
    margin: 0 auto;
    font-size: .8125em;
    position: relative;
}

.services, .contacts, .cases {
    background: #333;
}

/*===== header =====*/
.header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 30px;
}

.header-home {
    justify-content: flex-end;
}

.header .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .nav li {
    padding-left: 5px;
}

.header .nav li a {
    width: 140px;
    color: #f4f4f4;
    text-decoration: none;
    background: url('../src/nav-bg.png') no-repeat left top;
    font-size: 20px;
    line-height: 46px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0;
}

.header .nav li a:hover, .header .nav li a.current {
    background: url('../src/nav-bg.png') no-repeat left -46px;
    color: #333;
}

/*===== home page =====*/

.flex-content {
    display: flex;
    justify-content: space-between;
    height: 240px;
}

.flex-content-home {
    flex-direction: column;
    height: 100%;
    text-transform: uppercase;
    color: #2c3234;
}

.flex-content-home h3 {
    color: #2c3234;
    font-size: 40px;
    margin: 30px 0;
}

.description {
    color: #2c3234;
    font-size: 17px;
    text-align: right;
    line-height: 24px;
}

.flex-item {
    width: 30%;
}

.flex-item a {
    color: #f4f4f4;
    padding-right: 50px;
}

.flex-item a:hover {
    color: #f4f4f4;
    text-decoration: none;
}

.line {
    height: 100%;
    width: 1px;
    border: none;
    border-left: 1px solid #6b6b6b;
}

h2 {
    font-weight: normal;
    /*margin-top: 0;*/
    color: #f4f4f4;
    font-size: 20px;
}

ul {
    padding: 0;
    list-style: none;
}

.list-services li {
    font-size: 15px;
    padding: 0 0 4px 0;
}

.list-services a {
    color: #f4f4f4;
    text-decoration: none;
    background: #f53502;
    display: inline-block;
    padding: 4px 10px 4px 10px;
}

.text-right {
    float: right;
    color: #999;
}

/*===== footer =====*/
.footer {
    font-size: 10px;
    text-transform: uppercase;
    color: #fff;
    background: url('../src/footer-bg1.gif') left top repeat-x;
    padding: 27px 0 20px 0;
    text-align: right;
    margin-top: 30px;
}

.footer-durk {
    background: url('../src/footer-bg.gif') left top repeat-x;
    color: #282f31;
}

/*===== last cases =====*/
.last-cases .flex-content {
    height: 300px;
}

.last-cases .case-img {
    position: relative;
    height: 60%;
}

.img-responsive {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.last-title h2 {
    color: #2c3234;
    font-size: 17px;
    margin-top: 0;
}

.last-title, .last-tags {
    height: 20%;
    overflow: hidden;
}

.last-cases .label-primary {
    background-color: red;
}

.last-cases .button-last-cases {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.button-last-cases a {
    display: flex;
    justify-content: center;
    background: url(/themes/demo/assets/src/nav-bg.png) no-repeat left top;
    width: 140px;
    color: #f4f4f4;
    text-decoration: none;
    font-size: 20px;
    line-height: 46px;
    text-transform: uppercase;
    font-weight: bold;
}

.button-last-cases a:hover {
    background: url('../src/nav-bg.png') no-repeat left -46px;
    color: #333;
    text-decoration: none;
}

/*===== cases =====*/
.cases {height: 100%;}
.cases .inner-page {height: 100%;}
.cases .header {
    padding-top: 30px;
}
.cases .flex-content {
    flex-wrap: wrap;
    height: auto;
    min-height: 780px;
}
.cases .flex-item {
    width: 275px;
}

.cases .case-img {
    position: relative;
    height: 17em;
}
.cases .img-responsive {
    position: initial;
    top: initial;
    width: 100%;
    height: 100%;
}
.cases .flex-item a {
    padding-right: 0;
}
.cases h1 { color: white; }
.cases .footer {
    margin-top: 0;
}
.cases-pagination {
    width: 864px;
    padding: 0 1em;
    align-items: flex-end;
    display: flex;
}

@media screen and (max-width: 900px) {
    .cases .header, .flex-content { justify-content: space-around; }
    .cases .flex-item { width: 286px; }
    .header .nav li a { width: 94px; font-size: 15px;}
    #fullpage .logo-big img {width: 100%;}
}
@media screen and (max-width: 700px) {
    .cases .header { flex-direction: column; align-items: center; }
    .cases .header .logo { padding-bottom: 30px; }
    .cases .header .nav li a { width: 140px; font-size: 20px; }
    #fullpage .header img { width: 200px; }
    #fullpage .flex-content { height: 300px; }
    #fullpage .flex-content-home { height:100%; }
}
@media screen and (max-width: 615px) {
    #fullpage .header, .cases .header { flex-direction: column; align-items: center; }
    .cases .header .logo { padding-bottom: 30px; }
    .cases .header .nav li a { width: 95px; font-size: 15px; }
    #fullpage .header img { width: 100%; padding-bottom: 30px; }
}