[viewBag]
==
<!-- contacts page begin -->
<div class="section contacts" data-anchor="contacts">
    <div class="inner-page">
        <!-- header begin -->
        {% partial 'header' %}
        <!-- header end -->
        <!-- content end -->
        <div class="flex-content">
            <div class="flex-item">
                {% content 'contacts-1' %}
            </div>
            <div class="line"></div>
            <div class="flex-item">
                <h2>Contact form</h2>
                {% component 'contact' %}
            </div>
            <div class="line"></div>
            <div class="flex-item">
                {% content 'contacts-3' %}
            </div>
            <!-- <ul class="social-links">
                <li><a href="#"><span>facebook</span></a></li>
                <li><a href="#"><span>twitter</span></a></li>
            </ul> -->
        </div>
        <!-- content end -->
        <!-- footer begin -->
        {% partial 'site/footer' %}
        <!-- footer end -->
    </div>
</div>
<!-- contacts page end -->