==
<!-- contacts page begin -->
<div class="section contacts" data-anchor="contacts">
    <div class="inner-page">
        <!-- header begin -->
        <div class="header">
            <div class="logo"><a href="#home"><img alt="" src="themes/demo/assets/src/logo-small.png"></a></div>
            <ul class="nav">
                <li data-menuanchor="home"><a href="#home">Home</a></li>
                <li data-menuanchor="services"><a href="#services">Services</a></li>
                <li data-menuanchor="cases"><a href="/#cases">Cases</a></li>
                <li data-menuanchor="contacts"><a href="#contacts" class="current">Contacts</a></li>
                <div class="len">{% component 'localePicker' %}</div>
            </ul>
        </div>
        <!-- header end -->
        <!-- content end -->
        <div class="flex-content">
            <div class="flex-item">
                <h2>About us</h2>
                <p>GinTeam is a web development company head-quartered in Krivoy Rog, Ukraine. We have been providing
                    high quality solutions in web development since 2011.</p>
                <p>Our mission: bring your ideas to life</p>
            </div>
            <div class="line"></div>
            <div class="flex-item">
                <h2>Contact form</h2>
                <form action="" id="contacts-form">
                    <label><input type="text" value="Name:"
                                  onfocus="if(this.value==&#39;Name:&#39;){this.value=&#39;&#39;}"
                                  onblur="if(this.value==&#39;&#39;){this.value=&#39;Name:&#39;}"></label>
                    <label><input type="text" value="E-mail:"
                                  onfocus="if(this.value==&#39;E-mail:&#39;){this.value=&#39;&#39;}"
                                  onblur="if(this.value==&#39;&#39;){this.value=&#39;E-mail:&#39;}"></label>
                    <label><input type="text" value="Fax:"
                                  onfocus="if(this.value==&#39;Fax:&#39;){this.value=&#39;&#39;}"
                                  onblur="if(this.value==&#39;&#39;){this.value=&#39;Fax:&#39;}"></label>
                    <textarea cols="" rows=""
                              onfocus="if(this.value==&#39;Message:&#39;){this.value=&#39;&#39;}"
                              onblur="if(this.value==&#39;&#39;){this.value=&#39;Message:&#39;}">Message:</textarea>
                    <div class="alignright"><a href="#" class="link1">Send</a> &nbsp; &nbsp;<a href="#"
                                                                                               class="link1">Reset</a>
                    </div>
                    </fieldset>
                </form>
            </div>
            <div class="line"></div>
            <div class="flex-item">
                <h2>Contact information</h2>
                <p>GinTeam.net<br>
                    Ukraine, Krivoy Rog<br>
                    Meleshkina str., 38 <br/>
                    <a href="https://www.google.com/maps/preview#!q=Ukraine%2C+Krivoy+Rog+Meleshkina+str.%2C+38&data=!4m10!1m9!4m8!1m3!1d23161006!2d-95.677068!3d37.0625!3m2!1i1366!2i682!4f13.1">View
                        on map &rarr;</a></p>
                <p>Telephone: <a class="text-right" href="tel:380677710671">+38 067 771 06 71</a><br>
                    <span>E-mail:</span><a class="text-right" href="mailto:info@ginteam.net">info@ginteam.net</a></p>
            </div>
            <!-- <ul class="social-links">
                <li><a href="#"><span>facebook</span></a></li>
                <li><a href="#"><span>twitter</span></a></li>
            </ul> -->
        </div>
        <!-- content end -->
        <!-- footer begin -->
        {% partial 'site/footer' %}
        <!-- footer end -->


    </div>
</div>
<!-- contacts page end -->