[viewBag]
==
<!-- contacts page begin -->
<div class="section contacts" data-anchor="contacts">
    <div class="inner-page">
        <!-- header begin -->
        {% partial 'header' %}
        <!-- header end -->
        <!-- content end -->
        <div class="flex-content">
            <div class="flex-item">
                {% content 'contacts-1' %}
            </div>
            <div class="line"></div>
            <div class="flex-item">
                <h2>Contact form</h2>
                <form role="form"
                      data-request="contact::onContactSent"
                      data-request-update="'contact::confirm': '.confirm-container'"
                      data-request-success="$('.form-groups').slideUp(1000)">

                    <div class="form-groups">
                        <div class="form-group">
                            <input type="text" class="form-control" value="" name="name" required="required" placeholder="Name:">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" value="" name="email" required="required" placeholder="Email:">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" value="" name="phone" required="required" type="tel" pattern="^\d{3}-\d{3}-\d{4}$" title="Номер телефона в формате 000-000-0000" placeholder="Fax:">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" value="" name="body" required="required" placeholder="Message:" cols="30"
                                      rows="10"></textarea>
                        </div>

                        {% if alerts %}
                        {% for alert in alerts %}
                        <div class="error">{{ alert }}</div>
                        {% endfor %}
                        {% endif %}
                        {% if renderReCaptcha %}
                        <div class="form-group">
                            <div class="g-recaptcha" data-sitekey="{{ reCaptchaSiteKey }}"
                                 data-theme="{{ reCaptchaTheme }}"></div>
                        </div>
                        {% endif %}
                        <div class="form-group btn-right">
                            <button type="submit" class="btn">{{'Send'|_}}</button>
                            <a href="/" class="btn btn-clear">{{'Reset'|_}}</a>
                        </div>
                    </div>

                    <div class="confirm-container">
                        <!--This will contain the confirmation when the email is successfully sent-->
                    </div>
                </form>
            </div>
            <div class="line"></div>
            <div class="flex-item">
                {% content 'contacts-3' %}
            </div>
            <!-- <ul class="social-links">
                <li><a href="#"><span>facebook</span></a></li>
                <li><a href="#"><span>twitter</span></a></li>
            </ul> -->
        </div>
        <!-- content end -->
        <!-- footer begin -->
        {% partial 'site/footer' %}
        <!-- footer end -->
    </div>
</div>
<!-- contacts page end -->