==
<!-- home page begin -->
<div class="section home active" data-anchor="home">
    <div class="inner-page">
        <!-- header begin -->
        {% partial 'header' %}
        <!-- header end -->
        <!-- content begin -->
        <div class="flex-content flex-content-home">
            <div class="logo-big"><img alt="" src="themes/demo/assets/src/logo-big.png"></div>
            {% content 'home' %}
        </div>
        <!-- content end -->
        <!-- footer begin -->
        {% partial 'site/footer' %}
        <!-- footer end -->
    </div>
</div>
<!-- home page end -->