==
<!-- home page begin -->
<div class="section home active" data-anchor="home">
    <div class="inner-page">
        <!-- header begin -->
        <div class="header header-home">
            <ul class="nav">
                <li data-menuanchor="home"><a class="current" href="#home">Home</a></li>
                <li data-menuanchor="services"><a href="#services">Services</a></li>
                <li data-menuanchor="cases"><a href="/#cases">Cases</a></li>
                <li data-menuanchor="contacts"><a href="#contacts">Contacts</a></li>
            </ul>
        </div>
        <!-- header end -->
        <!-- content begin -->
        <div class="flex-content flex-content-home">
            <div class="logo-big"><img alt="" src="themes/demo/assets/src/logo-big.png"></div>
            <h3>We bring your ideas to life</h3>
            <div class="description">
                Custom web application development<br>
                CMS (content management systems) development<br>
                CRM (customer relationship management) development<br>
                eCommerce solutions<br>
            </div>
        </div>
        <!-- content end -->
        <!-- footer begin -->
        {% partial 'site/footer' %}
        <!-- footer end -->
    </div>
</div>
<!-- home page end -->