[portfolio]
category = 0
useAsPreviewBlock = 1
itemsPerPage = 3
order = "desc"
pageNumber = "{{ :page }}"
selectedTag = "{{ :selected_tag }}"
selectedCat = "{{ :selected_cat }}"
catListPage = 404
itemPage = "case"
tagListPage = "tag"
==
<div class="section last-cases" data-anchor="cases">
    <div class="inner-page">
        <!-- header begin -->
        {% partial 'header' %}
        <!-- header end -->
        <!-- content end -->
        <div class="flex-content">
            {% component 'portfolio' %}
        </div>
        <div class="button-last-cases">
            <a href="/cases" >Show All</a>
        </div>
        <!-- content end -->
        <!-- footer begin -->
        {% partial 'site/footer' %}
        <!-- footer end -->
    </div>
</div>