==
<!-- services page begin -->
<div class="section services" data-anchor="services">
    <div class="inner-page">
        <!-- header begin -->
        {% partial 'header' %}
        <!-- header end -->
        <!-- content end -->
        <div class="flex-content">
            <div class="flex-item">
                <h2>Why choose us?</h2>
                <div class="text-write">
                    <p>GinTeam is a highly skilled team of professional Web programmers and testers who
                        gained a wide hands-on experience in the most up-to-date software technologies and
                        frameworks.</p>
                    <p>Our original, idea-driven site designs can be found across a broad range of
                        industries, from education and real estate to health care, finance, and oil and
                        gas.</p>
                </div>
            </div>
            <div class="line"></div>
            <div class="flex-item">
                <h2>Expertise</h2>
                <ul>
                    <li>Development platforms</li>
                    <li>Programming languages & Technologies</li>
                    <li>Frameworks</li>
                    <li>Databases</li>
                    <li>Web Servers</li>
                    <li>Development methodologies</li>
                </ul>
            </div>
            <div class="line"></div>
            <div class="flex-item">
                <h2>Our Services</h2>
                <ul class="list-services">
                    <li><a href="#">Web application development</a></li>
                    <li><a href="#">CMS development</a></li>
                    <li><a href="#">CRM development</a></li>
                    <li><a href="#">eCommerce solutions</a></li>
                    <li><a href="#">Real estate websites</a></li>
                </ul>
            </div>
        </div>
        <!--&lt;!&ndash; <ul class="social-links">-->
        <!--<li><a href="#"><span>facebook</span></a></li>-->
        <!--<li><a href="#"><span>twitter</span></a></li>-->
        <!--</ul> &ndash;&gt;-->
        <!-- content end -->
        <!-- footer begin -->
        {% partial 'site/footer' %}
        <!-- footer end -->
    </div>
</div>
<!-- services page end -->