[viewBag]
==
<!-- services page begin -->
<div class="section services" data-anchor="services">
    <div class="inner-page">
        <!-- header begin -->
        {% partial 'header' %}
        <!-- header end -->
        <!-- content end -->
        <div class="flex-content">
            <div class="flex-item">
                {% content 'services-1' %}
            </div>
            <div class="line"></div>
            <div class="flex-item">
                {% content 'services-2' %}
            </div>
            <div class="line"></div>
            <div class="flex-item">
                {% content 'services-3' %}
            </div>
        </div>
        <!--&lt;!&ndash; <ul class="social-links">-->
        <!--<li><a href="#"><span>facebook</span></a></li>-->
        <!--<li><a href="#"><span>twitter</span></a></li>-->
        <!--</ul> &ndash;&gt;-->
        <!-- content end -->
        <!-- footer begin -->
        {% partial 'site/footer' %}
        <!-- footer end -->
    </div>
</div>
<!-- services page end -->